
.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: var(--background-color-view);
    color: var(--textcolor-head);
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    opacity: 100%;
    justify-content: center;
    align-items: center;
}

.progressbar-box {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    width: 320px;
    background-color: var(--progress-color-back);
    border: 1px solid var(--progress-color);
    padding: 0px;
    border-radius: 0px;
}

.progressbar-bar {
    height: 10px;
    width: 0%;
    background-color: var(--progress-color);
    border-radius: 0px;
    text-align: center;
    line-height: 30px;
}