
.settings-float {
    position: fixed;
    bottom: 10px;
    left: 90px;
    width: 228px;
    height: 95px;
    background: var(--background-color-popup);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    color: white;
    padding: 10px;
    z-index: 999;
    border: 1px solid var(--background-color-view);
}

.settings-float::before {
    content: '';
    position: absolute;
    right: 100%;
    top: 40%;
    border-width: 15px 22px 15px 0;
    border-style: solid;
    border-color: transparent var(--background-color-view); transparent transparent;
}

.checkbox-sc {
    color: var(--textcolor-head);
    align-items: center;
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.checkbox-sc:hover {
    filter: brightness(var(--hover-brightness));
    cursor: pointer;
}
