
input[type=range] {
    -webkit-appearance: none;
    margin: 4px 0;
    width: 100%;
    background: transparent;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #00000020, 0px 0px 1px #0d0d0d40;
    background: var(--slider-track-color);
    border-radius: 1.0px;
    border: 0.2px solid #01010120;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #00000080, 0px 0px 1px #0d0d0d40;
    border: 1px solid #00000080;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background: var(--slider-thumb-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type=range]:hover::-webkit-slider-runnable-track {
   /* background: var(--slider-hover-color);*/
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 4.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #00000080, 0px 0px 1px #0d0d0d40;
    background: var(--slider-track-color);
    border-radius: 1.3px;
    border: 0.2px solid var(--slider-track-color);;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #00000080, 0px 0px 1px #0d0d0d40;
    border: 1px solid #00000080;
    height: 13px;
    width: 13px;
    border-radius: 3px;
    background: var(--slider-thumb-color);
    cursor: pointer;
}
input[type=range]:hover::-moz-range-track {
    /* background: var(--slider-hover-color);*/
}
